.overview {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.overview h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.overview_container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 30%;
    gap: 3.5rem;
    margin-top: 1rem;
}

.banner {
    height: 250px;
    background-color: #5f27cd;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    /* gap: 3rem; */
    color: #fff;
}

.banner p {
    font-size: 0.9rem;
    color: rgba(223, 228, 234, 1.0);
}

.banner_one {
    margin-left: 2rem;
    margin-top: 2rem;
}

.banner_one h3 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.transaction_info {
    margin-bottom: 2.1rem;
}

.transaction_info h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 9px
}

.transaction_info span {
    padding-left: 1.5rem;
}

.banner_two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_two svg {
    font-size: 100px;
    color: rgba(236, 204, 104, 1.0);
    transform: rotate(25deg);
}

.wallet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 2rem;
}

.wallet p {
    font-size: 0.7rem;
}

.wallet span {
    color: rgba(0, 0, 0, 0.5);
}

.wallet_one svg {
    color: rgb(90, 107, 205);
}

.wallet_one, .wallet_two {
    background-color: #fff;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.currency_container {
    height: 90px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.currency_container p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}

/* company info styles */

.overview_company {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company_info {
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.company_info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.left_info {
    display: flex;
    align-items: center;
}

.left_info p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
}

.name_wrapper {
    margin-left: 15px;
}

.right_info {
    text-align: right;
}

.right_info p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
}

.right_info h5 {
    color: red;
    font-size: 1.1rem;
}