.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding-top: 5rem;
}

.sidebar_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
}

.sidebar_icon {
    cursor: pointer;
    font-size: 1rem;
}

.sidebar_title {
    cursor: pointer;
    color: rgba(1, 1, 1, 0.8);
}

.items_container {
    padding-top: 1.2rem;
}

.sidebar_item:hover {
    color: #5f27cd;
}

.sidebar_title:hover {
    color: #5f27cd;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.active_device {
    padding-left: 2rem;
    margin-top: 6rem;
}

.active_device h3 {
    font-weight: 500;
    font-size: 1rem;
}

.device_container {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 20px;
}

.img_container {
    width: 50px;
    height: 50px;
    background-color: #ecf0f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device_name {
    font-size: 0.9rem;
    font-weight: 500;
}

.device_status {
    font-size: 0.8rem;
    margin-top: 5px;
}

.device_icon {
    color: gray;
}

.profile_image {
    width: 40px;
    height: 40px;
    background-color: rgb(133, 133, 240);
    margin-left: 2rem;
    margin-top: 2.5rem;
}